nav{
    background-color: aquamarine;
    height: 100px;
}
header{
    height: 500px;
    background-image: url(https://images.pexels.com/photos/14281758/pexels-photo-14281758.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
}
.row-one{
    columns: 3;
}
p{
    background-color: burlywood;
    height: 200px;
}
.row-two{
    columns: 2;
}
h2{
    background-color: bisque;
 
}